<!doctype html>
<html>
  <head>
    <title>Sketches</title>
    <style>
      body {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Helvetica Neue", system-ui, sans-serif;
        background: #f0f0f0;
      }

      .container {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Sketches</h1>

      <button onclick="fetch('/prev')">Previous</button>
      <button onclick="fetch('/next')">Next</button>
      <ul>
        <li onclick="fetch('/sketch/0')">Clock</li>
        <li onclick="fetch('/sketch/1')">Orbit W</li>
        <li onclick="fetch('/sketch/2')">Orbit B</li>
      </ul>
    </div>
  </body>
</html>
